@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default to Indigo theme */
    --primary: 243 75% 59%;
    --primary-foreground: 0 0% 100%;
    --ring: 243 75% 59%;
  }
}
